
div#container {
  margin: 30px auto;
  width: 300px;
}

div#container ul {
  list-style-type: none;
  padding:10px 30px;
  margin:20px 0;
  border:2px solid #999999;
}

div#container ul:hover {
  border:2px solid #bbbbbb;
}

div#container li {
  cursor: move;
  margin: 20px 0px;
}

div#container div#leftListContainer, div#leftLowerListContainer {
  float: left;
  clear: left;
}

div#container div#rightListContainer, div#rightLowerListContainer {
  float: right;
  clear: right;
}


